@import 'variables.css';

:local(.root) {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  min-height: 42px;
  width: 100%;
  height: auto;
  background-color: var(--primaryColorFirst);
  box-shadow: var(--shadowElevationZ1);
  transition: height .2s ease-in-out;

  @media (min-width: 600px) {
    min-height: 48px;
  }
}

:local(.avatarLayout) {
  margin: 2px;
}

:local(.controlsLayout) {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

:local(.iconButtonLayout) {
  margin: 0 -16px 0 0;

  button {
    @media (max-width: 600px) {
      padding: 9px !important;
      width: 42px !important;
      height: 42px !important;
    }
  }
}

:local(.arrowBackLayout) {
  margin: 0 0 0 -16px;

  button {
    @media (max-width: 600px) {
      padding: 9px !important;
      width: 42px !important;
      height: 42px !important;
    }
  }
}
