:root {
  --mainColor: #503276;
	--shadowZ1: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12);
}

:local(.root) {
	position: relative;
	z-index: 2;
	display: block;
	width: 100%;
	height: 100vh;
	background-color: var(--mainColor);
	box-shadow: var(--shadowZ1);

	.l-Header {
		padding: 0 16px;
		min-height: 48px;
		width: 100%;
		height: auto;
	}
}

