@import './variables.css';

@keyframes enterPanelPhoneLayout {
	0% {
		position: relative;
		visibility: visible;
		transform: translate3d(-100%, 0, 0);
	}

	100% {
		position: relative;
		visibility: visible;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes leavePanelPhoneLayout {
	0% {
		position: absolute;
		visibility: visible;
		transform: translate3d(0, 0, 0);
	}

	100% {
		position: absolute;
		visibility: hidden;
		transform: translate3d(-100%, 0, 0);
	}
}

@keyframes enterCanvasPhoneLayout {
	0% {
		position: relative;
		visibility: visible;
		transform: translate3d(100%, 0, 0);
	}

	100% {
		position: relative;
		visibility: visible;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes leaveCanvasPhoneLayout {
	0% {
		position: absolute;
		visibility: visible;
		transform: translate3d(0, 0, 0);
	}

	100% {
		position: absolute;
		visibility: hidden;
		transform: translate3d(100%, 0, 0);
	}
}
