@import url('https://fonts.googleapis.com/css?family=Roboto');

@reset-global pc;
@reset-global mobile;

*, *:before, *:after {
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
}

body {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color: #fafafa;
	font-weight: 400;
	font-size: 10px;
	font-family: 'Roboto';
	-webkit-tap-highlight-color: transparent;
}
