:root {
  /* z-indexes */
  --zIndex1: 100;
  --zIndex2: 200;
  --zIndex3: 300;
  --zIndex4: 400;
  --zIndex5: 500;
  --zIndex6: 600;
  --zIndex7: 700;
  --zIndex8: 800;
  --zIndex9: 900;
  --zIndex10: 1000;

  /* Colors */
  --primaryColorFirst: #503276;
  --primaryColorSecond: #653e96;
  --accentColor: #e91e63;
  --backgroundColor: #fafafa;
  --textareaPhoneBackground: #f5f5f5;
  --onlineStatusColor: #76ff03;
  --offlineStatusColor: #e91e63;
  --selectedMessageColor: #836bed;

  /* Material Shadows */
  --shadowElevationZ1: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
  --shadowElevationZ2: 0 3px 10px rgba(0,0,0,0.16), 0 3px 10px rgba(0, 0,  0,0.23);
  --shadowElevationZ3: 0 10px 30px rgba(0,0,0,0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
  --shadowElevationZ4: 0 14px 45px rgba(0,0,0,0.25), 0 10px 18px rgba(0, 0, 0, 0.22);
  --shadowElevationZ5: 0 19px 60px rgba(0,0,0,0.3), 0 15px 20px rgba(0, 0, 0, 0.22);

  /* Layout z-indexes */
  --appbarZIndex: var(--zIndex2);
  --panelZIndex: var(--zIndex3);
  --canvasZIndex: var(--zIndex1);
}
