{
  "presets": [
    "es2015", 
    "stage-3", 
    "react"
  ],
  "plugins": [
    "transform-flow-strip-types",
    "react-html-attrs", 
    "transform-class-properties", 
    "transform-decorators-legacy", 
    "add-module-exports",
    "transform-runtime",
    ["styled-components", {
      "displayName": true
    }]
  ]
}
