{
	"extends": [
    "stylelint-config-standard",
		"stylelint-config-css-modules"
  ],
	"rules": {
		"indentation": "tab",
		"number-leading-zero": null,
		"at-rule-no-unknown": [true, {
			"ignoreAtRules": [
				"reset-global"
			]
		}]
	}
}
