:root {
	--darkPurple: #503276;
  --lightPurple: #653e96;
	--shadowZ1: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12);
	--shadowZ2: 0 3px 10px rgba(0,0,0,0.16), 0 3px 10px rgba(0,0,0,0.23);
	--shadowZ3: 0 10px 30px rgba(0,0,0,0.19), 0 6px 10px rgba(0,0,0,0.23);
	--shadowZ4: 0 14px 45px rgba(0,0,0,0.25), 0 10px 18px rgba(0,0,0,0.22);
	--shadowZ5: 0 19px 60px rgba(0,0,0,0.3), 0 15px 20px rgba(0,0,0,0.22);
	--appbarZIndex: 98;
	--panelZIndex: 99;
	--canvasZIndex: 1;
}

:local(.root) {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

:local(.appbarLayout) {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: var(--appbarZIndex);
	width: 100%;
	height: auto;

	@media (max-width: 600px) {
		z-index: calc(var(--appbarZIndex) + 1);
	}
}

:local(.contentPhoneLayout) {
	width: 100%;
	height: 100%;

	@media (min-width: 600px) {
		position: absolute;
		visibility: hidden;
	}
}

:local(.panelPhoneLayout) {
	position: relative;
	width: 100%;
	height: 100%;
}

:local(.canvasPhoneLayout) {
	display: none;
	width: 100%;
	height: 100%;
}

:local(.contentDesktopLayout) {
	width: 100%;
	height: 100%;

	@media (max-width: 600px) {
		display: none!important;
	}
}

:local(.panelDesktopLayout) {
	position: relative;
	z-index: var(--panelZIndex);
	flex-basis: 300px;
	height: 100%;

	@media (min-width: 768px) {
		flex-basis: 320px;
	}
}

:local(.canvasDesktopLayout) {
	position: relative;
	z-index: var(--canvasZIndex);
	flex-grow: 1;
	height: 100%;
}