@import '../variables.css';

:local(.root) {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

:local(.contentLayout) {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
}

:local(.appbarLayout) {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--appbarZIndex);
  width: 100%;
  height: auto;
}

:local(.panelLayout) {
  position: relative;
  width: 100%;
  height: 100%;

  @media (min-width: 600px) {
    width: 300px;
    z-index: var(--panelZIndex);
  }

  @media (min-width: 768px) {
    width: 320px;
  }
}

:local(.canvasLayout) {
  position: relative;
  z-index: var(--canvasZIndex);
  flex-grow: 1;
  height: 100%;
}
