:local(.root) {
	width: 100%;
	height: auto;
	min-height: 42px;
	background-color: #503276;
	padding: 0 16px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	transition: all .2s ease-in-out;
	box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12);
	@media all and (min-width: 480px) {
		min-height: 48px;
	}

	.l-Avatar {
		margin: 2px;
	}

	.l-IconButton {
		margin: 0 -16px 0 0;
	}

	button {
		@media all and (max-width: 480px) {
			padding: 9px!important;
			width: 42px!important;
			height: 42px!important;
		}
	}
}



