@import '../../../variables.css';

:local(.rootDesktop) {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--primaryColorSecond);
  box-shadow: var(--shadowElevationZ1);
}

:local(.headerLayout) {
  background-color: var(--primaryColorFirst);
}

:local(.logoLayout) {
  padding: 0 16px;
  min-height: 48px;
  width: 100%;
  height: auto;
}

:local(.searchbarLayout) {
  padding: 0 16px;
  width: 100%;
  height: 56px;
}
