@import '../../variables.css';

:local(.root) {
  width: 100%;
  border: 0;
  font-size: 1.4em;
  overflow-x: hidden;
  background-color: var(--textareaPhoneBackground);
  padding: 8px;

  @media (min-width: 600px) {
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
