:root {
	--darkPurple: #503276;
  --lightPurple: #653e96;
	--shadowZ1: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12);
}

:local(.root) {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-start;
	padding: 0 16px;
	width: 100%;
	height: 42px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.15);
	box-shadow: var(--shadowZ1);
}

:local(.iconLayout) {
	display: flex;
	align-items: center;
}

:local(.inputLayout) {
	display: flex;
	align-items: center;
	width: 100%;
}

:local(.input) {
	padding: 0 8px;
	width: 100%;
	border: 0;
	background-color: transparent;
	color: #fff;
	font-size: 1.6em;
}