:root {
	--darkPurple: #503276;
  --lightPurple: #653e96;
}

:local(.root) {
	position: relative;
}

:local(.scrollableView) {
	width: 100%;
	height: calc(100vh - 152px)!important;
}

:local(.item) {
	padding: 15px 16px;
	color: #fff;
	font-size: 1.4em;
}
