@import '../../../../variables.css';

:local(.root) {
  position: relative;
  padding: 8px 16px;
  width: 100%;
  height: auto;
  border-bottom: 1px solid var(--hintColorDivider);
  background-color: #fff;
  cursor: pointer;

  @media (min-width: 600px) {
    border-bottom: none;
    background-color: var(--primaryColorSecond);
  }
}

:local(.flex) {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
}

:local(.box) {
  align-self: inherit;
}

:local(.flexAuto) {
  flex: 1 1 auto;
}

:local(.selected) {
  background-color: var(--selectedMessageColorPhone);

  @media (min-width: 600px) {
    background-color: var(--selectedMessageColorDesktop);
  }
}

:local(.avatarLayout) {
  position: relative;
  display: flex;
  align-items: center;

  &::after {
    content: '';
    position: absolute;
    top: 2px;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #fff;

    @media (min-width: 600px) {
      top: 0;
      right: 0;
      width: 6px;
      height: 6px;
      border: none;
    }
  }
}

:local(.online) {
  &::after {
    background-color: var(--onlineStatusColor);
  }
}

:local(.offline) {
  &::after {
    background-color: var(--offlineStatusColor);
  }
}

:local(.messageLayout) {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  max-width: calc(100% - 48px);
}

:local(.message) {
  position: relative;
  padding-left: 8px;
  font-size: calc(14 / var(--baseFontSize) * 1em);
}

:local(.name) {
  margin-bottom: 4px;
  max-width: calc(100% - 124px);
  color: var(--primaryColorText);
  text-transform: capitalize;
  font-weight: 500;

  @media (min-width: 600px) {
    color: #fff;
  }
}

:local(.text) {
  color: var(--hintColorText);
  font-weight: 300;

  @media (min-width: 600px) {
    color: #fff;
  }
}

:local(.textClip) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-binding: url('/examples/text-overflow.xml#ellipsis');
}

:local(.indicators) {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}

:local(.icon) {
  width: 14px !important;
  height: 14px !important;
  margin-right: 8px;
  color: var(--primaryColorSecond) !important;

  @media (min-width: 600px) {
    color: #fff !important;
  }
}

:local(.timestamp) {
  font-size: calc(12 / var(--baseFontSize) * 1em);
  font-weight: 300;
  color: var(--hintColorText);

  @media (min-width: 600px) {
    color: #fff;
  }
}

:local(.badgeLayout) {
  position: relative;
  top: -2px;
  margin-right: 8px;
}
